name: XML Lint Check

on:
  push:
    paths:
      - '**.xml'
  pull_request:
    paths:
      - '**.xml'

jobs:
  xml-lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install xmllint
      run: sudo apt-get update && sudo apt-get install -y libxml2-utils

    - name: Run xmllint
      run: |
        find . -name '*.xml' -print0 | xargs -0 -n1 xmllint --noout